body {
    /* 不要使用 flex+justify-content: center 水平置中
    不要使用 align-items: center; 垂直置中 
    因為會導致其他地方意外的Bug，例如拖動div的漂移bug */
    
    background-color: #f1ff88;

    /* 禁止反白文字，none = 元素及其子元素的文本不可选中。 */
    user-select: none; 
}

#canvas {
    /* 利用設定div本身的寬度及margin左右auto讓div水平置中 */
    margin: 0 auto;
    width: 90vw;
    height: 41.54vw;
    background-color: #333333;
}

.absolute, .card div {
    position: absolute;
}

.cardBack {
    width: 0;
    height: 0;
    margin: 0;
    /* 先隱藏，要用的時候使用JS調用 */
}

.cardBorder {
    width: 10vw;
    height: 16vw;
    border-radius: 5%;
    border: solid 0.15vw #008314;
    background-color: #7aff8e;
}

.cardPic {
    left: 1.25vw;
    top: 1.25vw;
    width: 7.5vw;
    border: solid 0.15vw #008314;
}

.description {
    left: 1.25vw;
    top: 8.5vw;
    width: 7.5vw;
    height: 6vw;
    background-color: aqua;
    border: solid 0.15vw rgb(0, 147, 147);
    
}

.description > p {
    padding: 0.5vw;
    font-size:x-small;
}

.textCenterHorizontally {
    text-align: center;
}

.cardNamePic {
    left: 0.5vw;
    top: 6.5vw;
    width: 9vw;
    height: 3vw;
}

.cardNameText {
    left: 1vw;
    top: 7.25vw;
    width: 8vw;
    font-weight: bold;
}

.manaPic {
    left: 0;
    top: -0.4vw;
    width: 3.5vw;
}

.manaText {
    left: 1.3vw;
    top: 0.5vw;
    font-size:x-large;
    font-weight: bold;

}

.cardTypePic {
    left: 6.9vw;
    top: -0.4vw;
    width: 3.5vw;
}

.cardTypeText {
    left: 7.85vw;
    top: 0.3vw;
    font-size:x-large;
    font-weight: bold;

}

#clearTrigger {
    left: 0;
    top: 0;
    width: 10.5vw;
    height: 16.5vw;
    /* bgc用來測試是否完全覆蓋要拖動的div */
    /* background-color: #e80202; */
}

#card_1 {
    top: 20%;
    left: 20%;
}